#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: justify;
}

header {
  display: flex;
  place-items: center;
  unicode-bidi: isolate;
}

.logo {
  margin: 0;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

nav ul li { 
  display: inline-block;
}

ul {
  padding: 1.5em;
}

li{
  margin: 0 1em;
  font-size: 1.25em;
  background-color:#282828;
  border: 2px solid #222;
  border-radius: 8px;
}